.modal {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    height:210%;
    z-index: 1000;
    background:rgba(0,0,0,0.2) none repeat scroll !important;
    filter:Alpha(opacity=20);
}

.modal-content{
    width:800px;
    margin: 150px auto;
    padding:15px;
}
